<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Selamat Datang!</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus recusandae, iste exercitationem molestiae in quisquam harum accusantium vitae mollitia, reiciendis incidunt ipsum a asperiores non architecto repudiandae eveniet, quae nihil?</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
