<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-3">
        <%= render 'products/card_product', product: product %>
      </div>
    <% end %>
  </div>
</div>
