<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Option</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each.with_index do |category, i| %>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td><%= category.name %></td>
          <td>
            <%= link_to 'Edit', edit_category_path(category), class: "badge rounded-pill bg-success text-decoration-none link-light" %>
            <%= link_to 'Delete', category_path(category), class: "badge rounded-pill bg-danger text-decoration-none link-light", method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
